.backgroundChefs {
    background: url(../img/divine-dumplings2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

.chefsHeadline {
    font-weight: 400;
    font-family: 'Damion';
    font-size: 48px;
    background-color: #00000071;
    height: 50%;
}

.backgroundChefs span {
    background-color: #00000071;
    height: 50%;
    letter-spacing: 2px;
    font-family: 'Raleway';
}

.theChefs {
    font-family: 'Raleway';
    letter-spacing: 1px;
}

.theChefs img {
    object-fit: cover;
}