.contactPage {
    background-image: url(../img/contact-bg.jpg);
    background-repeat: no-repeat;

}

@media (max-width: 500px) {
    .contactPage {
        background-size: fill;
        background-position: 20% 0%;
    }
    .leftContact h2 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .contactPage {
        background-size: cover;
        background-position: 0% 50%;
    }
}

.contactHeading {
    font-family: 'Damion', cursive;
    font-size: 64px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .contactBody {
        padding: 6rem 10rem 6rem 10rem;
        font-family: 'Raleway';
    }

    .leftContact h2 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 22px;
    }
}



.leftContact p {
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 20px;
}

.aboutPage div:last-child div:last-child {
    overflow: hidden;
}

.aboutPage div:last-child div:last-child img {
    width: 100%;
    height: fit-content;
}