@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&family=Raleway:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700;900&display=swap');

.homeCanvas {
    display: flex;
    position: relative;
    background-image: url(../img/bg-landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: 111;
    overflow: hidden;
}

.circle {
    display: flex;
    position: absolute;
    width: 27%;
    height: 58%;
    border: 3px solid rgba(255, 0, 214, 0.4);
    border-radius: 100rem;
    top: 10%;
    left: 25%;
    box-shadow: 6px 6px 20px rgba(255, 0, 214, 0.2), -6px -6px 20px rgba(255, 0, 214, 0.2);
    background-color: #00000000;
    animation-name: glow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes glow {
    0%{
        box-shadow: 6px 6px 20px rgba(255, 0, 214, 0.1), -6px -6px 20px rgba(255, 0, 214, 0.1);
        border-color: rgba(255, 0, 214, 0.2);
    }
    50%{
        box-shadow: 6px 6px 20px rgba(255, 213, 64, 0.3), -6px -6px 20px rgba(255, 213, 64, 0.2);
        border-color: rgba(255, 213, 64, 0.4);
    }
    100%{
        box-shadow: 6px 6px 20px rgba(255, 0, 214, 0.1), -6px -6px 20px rgba(255, 0, 214, 0.1);
        border-color: rgba(255, 0, 214, 0.2);
    }
}

.contactLink {
    position: absolute;
    top: 7%;
    right: 4%;
    margin: 0;
    color:white;
    width: 80px;
    height: 54px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: end;
    font-size: 10px;
}
.contactLink .tiny1 {
    border-top: 1px solid white;
    height: 6px;
}
.contactLink .tiny2 {
    height: 6px;
    margin-left: 60%;
    border-bottom: 1px solid white;
}

.animatedHeading1 {
    display: flex;
    position: absolute;
    top: 15%;
    left: 70%;
    font-family: 'Source Serif Pro', serif;
    font-size: 180px;
    font-weight: 900;
    color: #00000000;
    -webkit-text-stroke: 2px rgba(255, 0, 214, 0.8);
    letter-spacing: 25px;
    animation-name: leftRight;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes leftRight {
    0% {
        left: 80%;
    }
    50% {
        left: 5%;
    }
    100% {
        left: 80%;
    }
}

.animatedHeading2 {
    display: flex;
    position: absolute;
    top: 42%;
    left: 70%;
    font-family: 'Source Serif Pro', serif;
    font-size: 100px;
    font-weight: 900;
    color: #00000000;
    -webkit-text-stroke: 1px rgba(113, 119, 68, 1);
    letter-spacing: 25px;
    animation-name: leftRight;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.bottomRight {
    color: white;
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 61.5%;
    height: 30%;
    background: linear-gradient(to right, rgba(255, 0, 214, 0.25), rgba(0, 0, 0, 0.1));
}

.bottomRight .wrapper .wrapper2 > span {
    display: flex;
    font-family: 'Lexend';
    font-weight: 200;
    font-size: 16px;
    width: max-content;
    letter-spacing: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-shadow: 0px 4px 10px white;
    animation-name: textGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes textGlow {
    0% {
        color: white;
        text-shadow: 0px 4px 10px white;
    }
    50% {
        color: #FF00D6;
        text-shadow: 0px 4px 10px yellow;
    }
    100% {
        color: white;
        text-shadow: 0px 4px 10px white;
    }
}

.bottomRight .wrapper {
    justify-content: flex-end;
    padding-right: 6.5%;
    align-items: center;
    width: 100%;
}
.bottomRight > .wrapper > .wrapper2 {
    justify-content: flex-end;
    align-items: center;
}

.bottomRight > .wrapper > .wrapper2 > .line {
    width: 250px;
    height: 1px;
    margin-left: 6.5%;
    background-color: white;
    animation-name: glowMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes glowMove {
    0% {
        background-color: white;
    }
    50% {
        background-color: #FF00D6;
    }
    100% {
        background-color: white;
    }
}

.leftDiv {
    display: flex;
    position: relative;
    width: 38.5%;
    height: 100vh;
    border-right: 1px solid #FF00D6;
    background: linear-gradient(rgba(85, 0, 0, 0.3), rgba(255, 0, 214, 0.05));
    backdrop-filter: blur(20px);
    padding-left: 6.5%;
    animation-name: glowlineRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes glowlineRight {
    0% {
        /* border-left: 1px solid #FF00D6; */
        border-right: 1px solid #FF00D6;
    }
    50% {
        /* border-left: 1px solid #ffffffbd; */
        border-Right: 1px solid #FFD540;
    }
    100% {
        /* border-left: 1px solid #FF00D6; */
        border-Right: 1px solid #FF00D6;
    }
}

.logo {
    position: absolute;
    top: 7%;
    width: 110px;
    height: min-content;
    cursor: pointer;
}

.logo .topBorder {
    border-top: 1px solid white;
    height: 10px;
}
.logo .bottomBorder {
    height: 10px;
    margin-right: 65%;
    border-bottom: 1px solid white;
}

.logoDiv {
    align-items: center;
}

.mainLogo {
    width: 20px;
    height: 20px;
}
.mainLogo > img {
    width: 20px;
    height: 20px;
}

.logoText {
    margin-left: 5%;
}
.logoText > img {
    width: 50px;
}

.verticalNav {
    width: 40px;
    height: 400px;
    border-left: 1px solid #FF00D6;
    position: absolute;
    top: 23%;
    padding-left: 20px;
    animation-name: glowline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes glowline {
    0% {
        border-left: 1px solid #FF00D6;
    }
    50% {
        border-left: 1px solid #ffffffbd;
    }
    100% {
        border-left: 1px solid #FF00D6;
    }
}

.verticalNav > ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem 0;
}
.verticalNav > ul > li > a {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.5px #FF00D6;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes colorChange {
    0%{
        -webkit-text-stroke: 0.5px #FF00D6;
    }
    50% {
        -webkit-text-stroke: 0.5px #ffffffd5;
    }
    100% {
        -webkit-text-stroke: 0.5px #FF00D6;
    }
}
.verticalNav > ul > li > a:hover {
    color: #FF00D6;
    -webkit-text-stroke: 0.5px #FF00D6;
    font-size: 20px;
    transition-duration: 0.2s;
    animation: none;
}

.social .text {
    color: #FF00D6;
    letter-spacing: 5px;
}

.social .socialIcons a {
    background: linear-gradient(to bottom right, #FF00D6, #000);
}
.social .socialIcons a:hover {
    background: linear-gradient(to bottom right, #FFD540, #000);
    cursor: pointer;
}

.centerText {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 27%;
    height: 58%;
    top: 10%;
    left: 25%;
    justify-content: center;
    align-items:baseline;
    font-weight: 900;
    font-family: "Raleway";
    color: white;
    font-size: 25px;
}
.centerText span {
    position: absolute;
    top: 40%;
    left: 9%;
    letter-spacing: 10px;
}
.centerText .smallLine {
    position: relative;
    top: 20%;
    width: 40%;
    left: 30%;
    border-bottom: 1px solid #FFD540;
    animation-name: glowingLine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes glowingLine {
    0% {
        border-bottom: 1px solid #FFD540;
    }
    50% {
        border-bottom: 1px solid #FF00D6;
    }
    100% {
        border-bottom: 1px solid #FFD540;
    }
}

.bottomRight .slideInDiv {
    display: flex;
    position: absolute;
    bottom: 0%;
    right: -60%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 0, 214, 0.4), rgba(0, 0, 0, 0.2));
    border-left: 1px solid #fff;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0);
    animation-name: glowline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.bottomRight:hover .slideInDiv {
    right: 0%;
    color:rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(255, 0, 214, 1), rgba(0, 0, 0, 1));
    transition-duration: 1.5s;
    font-family: 'Lexend';
    font-weight: 300;
    letter-spacing: 5px;
}