@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* .heroSection {
    margin-top: -70px;
} */

.heroNav .logoDumpling img:last-child {
    width: 60px;
    height: 19px;
}

@media (min-width: 768px) {
    .heroSection>img {
        display: flex;
        position: relative;
        height: 100%;
    }
}
@media (min-width: 50px) and (max-width: 500px) {
    .heroSection {
        display: flex;
        object-fit: cover;
    }
}

.heroSection > img {
    animation-name: slideinfromright;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes slideinfromright {
    from {
        margin-right: -100%;
        width: 100%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

.arrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    border: none;
}

.arrow:hover {
    background-color: #0000003d;
    transition-duration: 0.1s;
}

.rightArrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.heroNav {
    display: flex;
    position: relative;
    padding: 0 10rem 0 10rem;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -70px;
    width: 100%;
    backdrop-filter: blur(30px);
    background-color: #0000003d;
}

/* 
.heroNav .logoDumpling {
    display: flex;
    position: relative;
    align-items: center;
}

.navUL {
    display: flex;
    position: relative;
} */

.heroNav .navUL>li {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.heroNav .logo>span {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #717744;
    font-weight: 800;
    display: flex;
    width: 100px;
    word-wrap: break-word;
    text-align: start;
}

.txtBtn2 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(50%);
}

.txtWithBtn {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 50px;
    top: 30%;
    left: 50%;
    transform: translateY(-70%);
    transform: translateX(-50%);
    gap: 2rem;
    text-align: center;
}

.txtWithBtn .text {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    /* font-size: 14px; */
    font-weight: 200;
}

.headline {
    font-family: 'Damion', cursive;
    /* font-size: 70px; */
    color: white;
    animation-duration: 2s;
    animation-name: slideinfromtop;
}

@keyframes slideinfromtop {
    from {
        margin-top: -70%;
        width: 100%;
        opacity: -200%;
    }

    to {
        margin-top: 0%;
        width: 100%;
        opacity: 100%;
    }
}

.btnWrapper {
    animation-duration: 2s;
    animation-name: fadein;
    display: flex;
    align-self: center;
}

@keyframes fadein {
    from {
        margin-bottom: -20%;
        opacity: -500%;
    }

    to {
        margin-bottom: 0%;
        opacity: 100%;
    }
}

.menuBtn {
    background-color: none;
    border: none;
    padding: 15px 20px 15px 20px;
    font-family: 'Raleway';
    display: flex;
    align-self: center;
    background-color: #FFD540;
    cursor: pointer;
}

.menuBtn:hover {
    background-color: #fff;
    box-shadow: 10px 10px 40px #00000060;
    transition-duration: 0.3s;
}

.menuBtn .link {
    color: black;
}

.txtWithBtn .text {
    color: white;
    font-weight: 100;
    animation-name: leftslide;
    animation-duration: 2s;
}

@keyframes leftslide {
    from {
        margin-left: -100%;
        width: 100%;
        opacity: -300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
        opacity: 100%;
    }
}

.hero2 {
    display: flex;
    justify-content: center;
    padding: 8rem 5rem 5rem 5rem;
    gap: 5rem;
}
@media (max-width: 500px) {
    .hero2 {
        padding: 3rem 2rem 2rem 2rem;
    }
}

.hero .leftImg {
    width: 400px;
}

.rightTexts {
    width: 400px;
    height: 500px;
    background-color: #fff;
}

.rightTexts>h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    /*  */
    font-weight: bold;
    color: black;
    text-align: start;
    width: 300px;
}

.rightTexts>h6 {
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #717744;
    font-weight: 300;
    font-size: 14px;
    color: #717744;
}

.paragraph {
    line-height: 1.2rem;
    margin-top: 1rem;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.signature {
    margin-top: 1.5rem;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

.btn:hover {
    color: #fff;
    background-color: #C1D5A4;
    box-shadow: 10px 10px 40px #00000060;
    transition-duration: 0.3s;
}

.footer {
    font-family: 'Raleway';
}

.social-icons>div {
    transition-duration: 0.3s;
}

@media (min-width: 50px) and (max-width: 500px) {
    .heroNav {
        display: none;
    }

    .heroNavMobile {
        display: flex;
        position: relative;
        height: 50px;
        align-items: center;
        margin-bottom: -50px;
        backdrop-filter: blur(30px);
        background-color: #00000000;
    }

    .heroNavMobile div {
        padding-left: 1rem;
    }

    .logoDiv {
        width: 90%;
        justify-content: center;
        padding-right: 1rem;
    }

    .logoDumpling img {
        height: 25px;
        width: fit-content;
    }
}

@media (min-width: 768px) {
    .heroNavMobile {
        display: none;
    }
}