@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 10px auto;
  margin: auto;
  color: #C1D5A4;
}
.hero {
  margin-top: 0;
  padding-top: 8rem;
}
.homeh1 {
  font-family: 'Ceviche One', cursive;
  font-size: 36px;
  color: #C1D5A4;
}
.welcomeText {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.supportLineDiv {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 800px;
  border-top: 1px solid #C1D5A4;
}
.supportLineDiv span {
  font-family: 'Corinthia', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #C1D5A4;
}
.text3rd {
  margin-top: 4rem;
}
.text3rd span {
  font-family: 'Corinthia', cursive;
  font-size: 36px;
  color: white;
}

nav {
  display: flex;
  /* margin: 0 0 -70px 0; */
  padding: 0 2rem;
  background-color: #24242490;
  color: white;
  height: 70px;
  justify-content: space-between;
  justify-items: center;
  z-index: 999;
}

/* nav span {
  display: flex;
  justify-items: center;
  margin: auto 0;
  cursor: pointer;
} */

ul {
  display: flex;
  margin: 0;
  gap: 3rem;
  justify-content: space-between;
}

li {
  display: flex;
  justify-items: center;
  color: white;
  font-family: 'Ceviche One', cursive;
  font-size: 18px;
}

.nav-links {
  display: flex;
  margin: auto 0;
  color: white;
  text-decoration: none;
}

.logo {
  margin: auto 0;
  color: white;
  text-decoration: none;
}

.cardContainer {
  width: 100%;
  display: flex;
  padding-left: 11rem;
  padding-right: 11rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 160px;
  background-color: #71774425;
  margin: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 4px 4px 0 #C1D5A4;
}
.child1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
  font-family: 'Ceviche One', cursive;
  font-size: 20px;
  letter-spacing: 10%;
}
.child2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  font-family: 'corinthia', cursive;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10%;
}
.child1 span{
  display: flex;
}

.card:hover{
  margin: 14px 6px 6px 14px;
  box-shadow: none;
  background-color: #C1D5A4;
  transition-duration: 0.1s;
  color: #242424;
}

.cardDisabled {
  box-shadow: none;
}
.cardDisabled:hover{
  margin: 10px;
  background-color: #71774425;
  color: white;
}